@{
    ViewBag.Title = "Harley Davidson Motorcycle & Side By Side Rental & Delivery Denver | Vail Extreme Rentals";
    ViewBag.MetaDescription = "Vail Extreme Rentals deliver their Harley Davidson motorcycles and side by sides to you! Click to check out our rentals for your next excursion.";
    ViewBag.MetaKeywords = "";
    ViewBag.CanonicalURL = "https://www.vailextremerentals.com";
}
<link rel="stylesheet" href="~/css/owl.carousel.css">
<link rel="stylesheet" href="~/css/sky-forms.css">
<link rel="stylesheet" href="~/css/custom-sky-forms.css">
<!--[if lt IE 9]><link rel="stylesheet" href="~/css/sky-forms-ie8.css"><![endif]-->
<!-- CSS Page Style -->
<link rel="stylesheet" href="~/css/page_contact.css">
<!-- CSS Customization -->
<link rel="stylesheet" href="~/css/custom.css">
<div class="wrapper">
    <div class="container content">
        <div class="row margin-bottom-0">
            <div class="col-md-12 mb-margin-bottom-0">
                <a name="rentals"></a>
                <a name="timbersled"></a>
                <div class="headline"><h1>Delivery</h1></div>
                <p>We deliver! Our delivery fee is based on the distance from our location in Vail, Colorado. Please call for a delivery quote.</p>
                
                <p>Each rental comes with a single-place trailer for easy loading and unloading. If you want to use your own truck instead of a trailer, you can. You can even <a href="rentals#truck">rent our truck</a>.</p><br />
            </div>
        </div>
        <div class="headline"><h2>Delivery Area</h2></div>
        <div id="map" class="map">
        </div>
        <div class="row margin-bottom-100">
        </div>
    </div>
</div>