@{
    ViewBag.Title = "Off Road Jeep, Dirt Bike & Snow Bike Rental in Denver & Vail CO | Vail Extreme Rentals";
    ViewBag.MetaDescription = "Looking to rent a dirt bike, jeep or snow bike for a day of fun with your friends? Vail Extreme Rentals will deliver it to you! Click to browse our rentals.";
    ViewBag.MetaKeywords = "";
    ViewBag.CanonicalURL = "https://www.vailextremerentals.com";
}
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>JUST WHEN YOU</i> <br /> <i>THOUGHT DIRTBIKE</i> <br /> <i>SEASON WAS OVER!</i></h2>
            <p><i>Go anywhere</i> <br /> <i>you want! </i></p>
            <div class="da-img"><img class="img-responsive" src="~/images/timbersled1.png" alt=""></div>
        </div>
        <div class="da-slide">
            <h2><i>REAGAN SIEG ON A <br /> TIMBERSLED SNOWBIKE</i> <br /> <i>Slednecks 2014</i></h2>
            <div class="da-img">
                <iframe src="https://player.vimeo.com/video/99786310" width="530" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>IT'S A BLAST.</i> <br /> <i>POWER TO SPARE.</i> <br /> <i>WHO NEEDS SKIS?</i></h2>
            <div class="da-img"><img src="~/images/timbersled2.png" alt="image01" /></div>
        </div>
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </div>
    </div>
</div>

<div class="container content-sm">
    <div class="row margin-bottom-0">
        <div class="col-md-12 mb-margin-bottom-0">
            <a name="rentals"></a>
            <a name="timbersled"></a>
            <div class="headline"><h1>Dirt Bikes, Jeeps, Snow Bikes and More!</h1></div>
            <p>At Vail Extreme Rentals, we rent it all and let you go where you want to go – on your schedule. No guided tours here! Dirtbikes? Check! Jeeps? Check! Timbersleds? Check! Snowmobiles? Check! Motorcycles? Check! You get the idea. If the usual doesn't get your heart pumping, there's only one option: our rock crawler, better known as The Beast, 2.5-tons of military-grade fun! Whatever your rental needs, we're here to help. Give us a call today!</p><br />
        </div>
    </div>
    <div class="row margin-bottom-0">
        <div class="col-md-12 mb-margin-bottom-0">
            <a name="rentals"></a>
            <a name="timbersled"></a>
            <div class="headline"><h2>TIMBERSLEDS</h2></div>
            <p>
                Timbersleds offer an easier learning curve and can handle any terrain or conditions with less energy due to design and weight savings. They allow you to go places you have only dreamed of going. Whether its tight trees, steep side-hills, or jumping off cliffs, timbersleds let you conquer the most extreme and difficult terrain. Imagine turning your local playground into a supercross freestyle terrain park with the softest landings.
            </p><br />
            <p>​<b>Didn't bring your full-face helmet? Don't have one? No problem!</b> For $10 per person, we provide helmets.</p><br />
        </div>
    </div>

    <div class="row about-me margin-bottom-60">
        <div class="col-sm-4 shadow-wrapper">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/timber_rentimage2.jpg" alt="Kawasaki Short Track Rental Denver CO" title="Rent Our Timbersleds in Denver CO">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>KAWASAKI KX450F <b>Short Track</b></h2>
                    <span>
                        $350/day<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>Power and suspension is why you choose the KAWASAKI KX450F Short Track. Hand warmers, LED headlights, spare fuel tank and plenty of room for extra gear allows you to spend a full day in the back country.</p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>
    <div class="row about-me margin-bottom-60">
        <div class="col-sm-4 shadow-wrapper md-margin-bottom-60">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/timber_rentimage3.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>YAMAHA WR450F <b>Long track</b></h2>
                    <span>
                        $350/day<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>The reliable smooth power of the YAHAMA WR450F combined with a timbersled long track will put you in places you never thought possible. Also equipped with extra fuel, lights, and gear storage. The WR450F's come with electric start for extreme convenience.</p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a><br />
        </div>
    </div>
    <div class="row about-me margin-bottom-60">
        <div class="col-sm-4 shadow-wrapper md-margin-bottom-60">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/timber_rentimage3b.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>YAMAHA WR450F <b>Short track</b></h2>
                    <span>
                        $350/day<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>Take that same smooth constant power the WR450F produces and add a lighter, smaller track. This a great chance to compare long track and short track. Both bikes are identical with all the same great amenities.</p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a><br /><br /><br />
        </div>
    </div>



    <div class="row about-me margin-bottom-0">
        <div class="col-sm-4 shadow-wrapper md-margin-bottom-0">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/timbersled_rentimage7u.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>KTM 300XC <b>SX 120 SNOCROSS TIMBERSLED</b></h2>
                    <span>
                        $400/day<br />
                        $475/24-hours<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>We start with the KTM 300 XC, which has enough power to conquer all sorts of terrain. It has an extremely lightweight chassis and a powerful 2-stroke engine, giving it a superb power-to-weight ratio. We've heavily modified this bike to give it the best possible performance. Here's a list of upgrades: custom suspension, aftermarket pipe, silencer, levers, hand guards, radiator guards, handlebars, steering damper, Slavens Mule kit, and a Rekluse clutch. These upgrades make the KTM 300 XC lighter, stronger and even faster! Did we mention it has electric start? That's right. To make the bike even easier to ride, it comes with electric and kickstart. We then add Timbersleds SX 120 purpose-built race machine.  The narrow track, chassis and tunnel combined with race-inspired suspension gives this bike the ultimate motocross feel and handling in all snow conditions. This setup is perfect for the advanced rider who wants neither the weight of a 4-stroke nor the power loss. This bike eats tight trees for breakfast and spits out huge airs for lunch!</p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>
</div>

<div class="container content-sm">
    <div class="row margin-bottom-0">
        <div class="col-md-12 mb-margin-bottom-0">
            <a name="snowmobile"></a>
            <div class="headline"><h2>SNOWMOBILES</h2></div>
            <p>
                ​There may not be a better way to explore the backcountry around Vail than renting an unguided snowmobile. Go when and wherever you want to without the large groups to slow you down. These high-performance mountain machines are capable of putting you on the top of the tallest peaks around!
            </p><br />

        </div>
    </div>

    <div class="row about-me margin-bottom-0">
        <div class="col-sm-4 shadow-wrapper">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/snowmobile_rentimage1.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>SKI-DOO SUMMIT 850 E-TEC, 154" TRACK</h2>
                    <span>
                        $350/day<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>​We offer the Ski-Doo Summit X 850 E-TEC, a deep mountain snowmobile with a 154" track. It offers the performance and dependability you need to conquer the challenging terrain of the Rocky Mountains.</p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>
</div>

<div class="container content-sm">
    <div class="row margin-bottom-0">
        <div class="col-md-12 mb-margin-bottom-0">
            <a name="dirtbike"></a>
            <div class="headline"><h2>DIRTBIKES</h2></div>
            <p>​Do you love riding dirt bikes? Are you on vacation without yours? No problem! At Vail Extreme Rentals we offer unguided dirtbike tours. You use our trailers, ramps, tie downs, and even our truck to get you into some the greatest terrain the Rocky Mountains has to offer.</p><br />
            <p>​<b>Didn't bring your moto gear? Don't have any? No problem!</b> For $30 per person, we provide a helmet, goggles, knee pads, boots, pants, and a jersey.</p><br />
        </div>
    </div>
    <div class="row about-me margin-bottom-60">
        <div class="col-sm-4 shadow-wrapper">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/dirtbike_rentimage1.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>KAWASAKI KX450F</h2>
                    <span>
                        $190/day<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>​Designed for the race track, the Kawasaki KX450F offers the most power and the best suspension. Take it to the track, climb the steepest hills, or ride miles of single track. The KX450F is sure give you the greatest Rocky Mountain experience.</p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>
    <div class="row about-me margin-bottom-60">
        <div class="col-sm-4 shadow-wrapper md-margin-bottom-60">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/dirtbike_rentimage2.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>YAMAHA WR450F</h2>
                    <span>
                        $190/day<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>​The Yamaha WR450F offers the best of both worlds. These street legal dirtbikes allow you to ride right to the trailhead or into nearby towns for fuel or lunch. Combined with electric start, wide-range transmission, and a incredibly smooth power curve, the Yahama WR450F is one of the easiest bikes to ride.</p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>
    <div class="row about-me margin-bottom-60">
        <div class="col-sm-4 shadow-wrapper md-margin-bottom-60">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/dirtbike_rentimage4.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>KTM 300 XC</h2>
                    <span>
                        $190/day<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>​The KTM 300 XC is probably the easiest 2-stroke bike to ride. It's extremely lightweight and nimble. It's perfect for steep hills, tight trees, or even a lap around the track. It has tons of low-end torque and plenty of 2-stroke power. It also has a Rekluse cluth, which let's you to ride the bike without ever touching the clutch lever. An electric start and kickstand are other great reasons to spend all day on this bike.</p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>



    <div class="row about-me margin-bottom-60">
        <div class="col-sm-4 shadow-wrapper md-margin-bottom-60">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/dirtbike_rentimage6.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>KAWASAKI KX250F</h2>
                    <span>
                        $190/day<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>The Kawasaki KX250F is great for smaller guys or girls. Less power and weight makes it a very controllable bike to ride. It's ideal for riders that are a little rusty. In the right hands, this bike can still be the fastest on the trail.</p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>





    <div class="row about-me margin-bottom-60">
        <div class="col-sm-4 shadow-wrapper md-margin-bottom-0">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/dirtbike_rentimage3.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>HONDA XR100</h2>
                    <span>
                        $100/day<br />
                        $150/24-hours<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>The Honda XR100 is perfect for kids. It's also a great bike to teach girls or guys how to ride a dirtbike with a manual clutch. It's super-lightweight and easy to ride. It's the best dirtbike to get inexperienced riders into dirtbiking.</p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>





    <div class="row about-me margin-bottom-60">
        <div class="col-sm-4 shadow-wrapper md-margin-bottom-0">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/dirtbike_rentimage5.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>HONDA CRF150F</h2>
                    <span>
                        $175/day<br />
                        $225/24-hours<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>The Honda CRF150F is the perfect bike for girls or larger kids that have some dirtbike experience. The CRF150F has more power, better brakes, and an electric start. </p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>



    <div class="row about-me margin-bottom-0">
        <div class="col-sm-4 shadow-wrapper md-margin-bottom-0">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/dirtbike_rentimage7u.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>HONDA XR50</h2>
                    <span>
                        $50/day<br />
                        $75/24-hours<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>Want to start them young? The Honda XR50 is a great bike for little kids. It has a semi-automatic transmission, which means they won't stall the engine when starting or stopping. This bike is a great introduction into what lies ahead.</p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>

</div>

<div class="container content-sm">
    <div class="row margin-bottom-0">
        <div class="col-md-12 mb-margin-bottom-0">
            <a name="rzr"></a>
            <div class="headline"><h2>RZR SIDE-BY-SIDES</h2></div>
            <p>Want to experience high-altitude lakes with pristine waters and views? Travel to mountain-top lakes and old mining towns no one else can get to. With the RZR's incredible suspension, you can access terrain that would otherwise take days to reach. Travel at twice the speed of Jeeps and ATVs and turn the roughest, rockiest trail into a magic carpet ride.</p><br />
        </div>
    </div>
    <div class="row about-me margin-bottom-60">
        <div class="col-sm-4 shadow-wrapper">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/rzr_rentimage1.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>POLARIS RZR XP 4 1000 EPS - <b>4 SEATER</b></h2>
                    <span>
                        $375/day<br />
                        $450/24-hours<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>​Take the whole family on an adventure of a lifetime with this 4-seater, 1000CC Polaris side-by-side. With plenty of room for food, fishing poles and extra gear, this vehicle will let you to enjoy everything the Rocky Mountains has to offer.</p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>
    <div class="row about-me margin-bottom-0">
        <div class="col-sm-4 shadow-wrapper md-margin-bottom-0">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/rzr_rentimage2.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>POLARIS RZR 800 XC - <b>2 SEATER</b></h2>
                    <span>
                        $300/day<br />
                        $375/24-hours<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>​With the same great amenities of the 4-seater, the 2-seater is more affordable for for two people or less. Often used for hunting or scouting new areas, this vehicle gives you an affordable way to access the toughest terrain.</p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>
</div>

<div class="container content-sm">
    <div class="row margin-bottom-0">
        <div class="col-md-12 mb-margin-bottom-0">
            <a name="motorcycle"></a>
            <div class="headline"><h2>MOTORCYCLES</h2></div>
            <p>I can't think of a better place to be on a Harley-Davison. With millions of miles of curves and mountain passes, the Harley-Davidson Street Glide will melt the miles away. Whether it's old mining towns, natural hot springs, or beautiful mountain passes, Colorado has the greatest roads in the country to explore on a Harley.</p>
        </div>
    </div>
    <div class="row about-me margin-bottom-60">
        <div class="col-sm-4 shadow-wrapper">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/motorcycle_rentimage1.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>HARLEY-DAVIDSON STREET GLIDE</h2>
                    <span>
                        $250/day<br />
                        $325/24-hours<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>​​The Harley-Davidson Street Glide offers the best of both worlds. Saddle bags to hold all your gear and a large fairing to block the wind. The Street Glide is still sporty enough to tackle all the twists and turns Colorado has to offer.</p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>
    <div class="row about-me margin-bottom-0">
        <div class="col-sm-4 shadow-wrapper">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/motorcycle_rentimage2.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>HONDA RUCKUS 50CC</h2>
                    <span>
                        $60/day<br />
                        $100/24-hours<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>​​Great for cruising around town, the Honda Ruckus has a 50cc engine, so you don't need a motorcycle license to ride it on the road. The large tires allow you to ride off-road. With an automatic transmission, the Ruckus is a great bike to teach people how to ride.</p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>

</div>

<div class="container content-sm">
    <div class="row margin-bottom-0">
        <div class="col-md-12 mb-margin-bottom-0">
            <a name="jeep"></a>
            <div class="headline"><h2>JEEPS</h2></div>
            <p>​Want to go the same places a side-by-side can go, but prefer the comforts of heat, air-conditioning, windshield, top and doors? Then this 5-seater Jeep is just what you need. Explore old mining towns, high-altitude lakes, and some of the most extreme 4x4 trails the Rocky Mountains has to offer.</p><br />
        </div>
    </div>
    <div class="row about-me margin-bottom-60">
        <div class="col-sm-4 shadow-wrapper">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/jeep_rentimage1.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>JEEP - <b>5 SEATER</b></h2>
                    <span>
                        $350/day<br />
                        $425/24-hours<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>​Equipped with lockers, winch, and large off-road tires, this Jeep can handle the toughest Rocky Mountain trail (Mount of the Holy Cross Trail) or the long, bumpy road to Piney Lake. Go wherever you want whenever you want.​​</p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>
    <div class="row about-me margin-bottom-0">
        <div class="col-sm-4 shadow-wrapper">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/jeep_rentimage2.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>ROCK CRAWLER (better known as <b>THE BEAST</b>)</h2>
                    <span>
                        $750/day<br />
                        $1000/24-hours<br />
                        Call for multi-day/weekend rental pricing<br />
                        Call for local discount<br />
                    </span>
                </div>
            </div>
            <p>Want to conquer the hardest trails in North America and make it look like you've been doing it your whole life? Or maybe you want to take the whole family to Cleveland Lake for a afternoon of fishing. It doesn't matter which trail you choose. This beast has 49" tires, 2.5-ton military-grade front and read axles, and 4-wheel steer. You read that correctly: The rear tires are steerable to get you into those tight places a normal vehicle of this size could never go.​​</p><a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>
</div>


<div class="container content-sm">
    <div class="row margin-bottom-0">
        <div class="col-md-12 mb-margin-bottom-0">
            <a name="transportation"></a>
            <div class="headline"><h2>TRANSPORTATION</h2></div>
            <p>​We offer the use of our truck to move the ATVs you rent. Our 4x4 Chevy Crew Cab Diesel can haul up to 4 ATVs and 4 people. Prices start and $125 for 8 hours. Price depends on miles used.</p><br />
        </div>
    </div>
    <div class="row about-me margin-bottom-60">
        <div class="col-sm-4 shadow-wrapper">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/jeep_rentimage3.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>4x4 CHEVY CREW CAB DIESEL</h2>
                    <span>
                        $125/8-hours<br />
                        Rate depends on distance.
                    </span>
                </div>
            </div>
            <a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>
</div>


<div class="container content-sm">
    <div class="row margin-bottom-0">
        <div class="col-md-12 mb-margin-bottom-0">
            <a name="bckcntrygear"></a>
            <div class="headline"><h2>BACKCOUNTY GEAR</h2></div>
            <p>​Unguided rentals are great until you need help and are miles away from civilization. GPS trackers to the rescue! Rent one today and insure someone can find you in an emergency.</p><br />
        </div>
    </div>
    <div class="row about-me margin-bottom-60">
        <div class="col-sm-4 shadow-wrapper">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/backcountrydevices_rentimage1.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>Tracker DTS Transceiver</h2>
                    <span>
                        $20/day<br />
                    </span>
                    <p>The Tracker DTS avalanche transceiver is the most trusted and widely used beacon on the market because of its rapid processor and efficient user interface. A real-time digital display shows both direction and distance with bright red LEDs. As the world’s most widely used transceiver, the Tracker DTS has established a strong reputation for durability and reliability.</p><br />
                </div>
            </div>
            <a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>
    <div class="row about-me margin-bottom-60">
        <div class="col-sm-4 shadow-wrapper">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/backcountrydevices_rentimage2.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>SPOT Gen3 Transceiver</h2>
                    <span>
                        $20/day<br />
                    </span>
                    <p>The latest generation of award-winning SPOT devices, SPOT Gen3 gives you a critical, life-saving line of communication using 100% satellite technology.</p><br />
                </div>
            </div>
            <a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>
</div>

<div class="container content-sm">
    <div class="row margin-bottom-0">
        <div class="col-md-12 mb-margin-bottom-0">
            <a name="camera"></a>
            <div class="headline"><h2>OUTDOOR CAMERAS</h2></div>
            <p>​Rent a tough, outdoor video camera to record your backcountry adventure in super high-definition.</p><br />
        </div>
    </div>
    <div class="row about-me margin-bottom-60">
        <div class="col-sm-4 shadow-wrapper">
            <div>
                <img class="img-responsive img-bordered full-width wow tada" src="~/images/electronics_rentimage2.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="overflow-h">
                <div>
                    <h2>GoPro Hero4</h2>
                    <span>
                        $35/day<br />
                    </span>
                    <p>Capturing 4K Ultra HD video and liquid-smooth slow motion at up to 240 frames per second, HERO4 Black delivers higher performance than any other GoPro.</p><br />
                </div>
            </div>
            <a href="reservations" class="btn-u btn-brd-hover rounded btn-u-lg"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Make a Reservation</a>
        </div>
    </div>
</div>

<!-- Local Business  -->
<script type="application/ld+json">
    {
    "@@context" : "http://schema.org",
    "@@type" : "LocalBusiness",
    "@@id" : "https://www.vailextremerentals.com/",
    "name" : "Vail Extreme Rentals",
    "logo" : "https://www.vailextremerentals.com/images/logo1-default.gif",
    "telephone" : "+1-970-470-2166",
    "openingHours" : "Mo,Tu,We,Th,Fr,Sa,Su 08:00-20:00",
    "email" : "vailextremerentals@gmail.com",
    "address" : {
    "@@type" : "PostalAddress",
    "streetAddress" : "2095 Zermatt Lane, Unit A",
    "addressLocality" : "Vail",
    "addressRegion" : "CO",
    "addressCountry" : "USA",
    "postalCode" : "81657"
    },
    "url" : "https://www.vailextremerentals.com",
    "sameAs" : [
    "https://www.facebook.com/Vail-Extreme-Rentals-1971426109748690/"
    ]
    }
</script>