@model MVCEmail.Models.EmailFormModel
@{
    ViewData["Title"] = "Vail Extreme Rentals - Timbersleds, Snowbike & Snowmobile Rentals - Rental Agreement";
}
<link href="~/css/sky-forms.css" rel="stylesheet" />
<link href="~/css/custom-sky-forms.css" rel="stylesheet" />
<!--[if lt IE 9]><link rel="stylesheet" href="~/css/sky-forms-ie8.css"><![endif]-->
<link href="~/css/page_contact.css" rel="stylesheet" />


<div class="container content">
    <div class="row margin-bottom-0">
        <div class="col-md-12 mb-margin-bottom-0">
            <div class="headline"><h2>RENTAL AGREEMENT & RELEASE OF LIABILITY</h2></div>
        </div>
    </div>
    <div>
        <div class="row margin-bottom-30">
            <section class="col col-lg-12">
                <textarea class="form-control" rows="20">
RENTAL AGREEMENT

I am renting from Vail Extreme Rentals a Snow Bike (the “Snow Bike”) for the purpose of recreational power snow biking.  I have provided to Vail Extreme Rentals my credit card listed above.  I understand and agree that at the time of my rental of the Snow Bike, a charge of $800.00 will be made to my credit card.  I understand that upon return of the Snow Bike in compliance with all the terms and conditions of this agreement, my credit card will be credited $500.00, less the charges described below.  I understand and agree that there will be NO REFUNDS ON A SNOW BIKE RENTAL.  I understand and agree that I will be responsible for the proper care of the Snow Bike until it is returned to Vail Extreme Rentals.  I understand and agree that I will be responsible if the Snow Bike is lost, stolen, misused or misplaced.  I agree to replace, at full retail value, the Snow Bike if it is damaged or not returned to Vail Extreme Rentals when due.  I agree to return the Snow Bike to Vail Extreme Rentals in clean condition and with a full tank of gasoline.   I understand and agree that I will be charged $35.00 if the Snow Bike is returned without a full tank of gasoline and $40.00 if it is returned in an unclean condition.  In addition to any recovery charge I may incur with a third party, I understand and agree that if Vail Extreme Rentals assists with recovery of the Snow Bike, my credit card will be charged $100.00 per hour per person provided by Vail Extreme Rentals in connection with said recovery.   I hereby authorize Vail Extreme Rentals to charge my credit card to pay any and all amounts described above and due hereunder.

RELEASE OF LIABILITY

I understand that snow biking is a dangerous activity.  I understand that snow biking includes inherent, manmade and other risks of injury or death that reasonable care, caution, instruction and expertise cannot eliminate. I also understand that injuries are common and ordinary occurrences during snow biking activities. I hereby freely, voluntarily and expressly agree to ASSUME and ACCEPT any and ALL RISKS of death or injury to any part of my body and to any other person, and damage to property, while using the Snow Bike.

I have been advised to and agree to use safety equipment, such as a helmet, goggles, protective padding and such other safety equipment as is prudent under the circumstances. However, I understand that use of such safety equipment does NOT ELIMINATE THE RISK of injury or death.

I hereby forever release, indemnify and hold harmless Vail Extreme Rentals from and against any and all cause or causes of action, whether caused by ANY NEGLIGENCE or breach of warranty, whether sounding in contract or tort, in law or in equity, including suits, liabilities, claims, demands, damages, losses, costs, and expenses, of any nature whatsoever, based upon, arising from, or in any way connected with or related to my use of the Snow Bike.  I agree NOT to make a claim against or sue Vail Extreme Rentals for any injuries or damages relating to my use of the Snow Bike and I ACCEPT PERSONAL LIABILITY AND RESPONSIBILITY for any and all such death, injuries and damages.

Vail Extreme Rentals provides NO WARRANTIES, express or implied, and the Snow Bike is accepted “AS IS.”  I have carefully read this agreement and release of liability and fully understand its contents.  I am aware that this is a binding contract.  I agree that if any provision of this agreement and release of liability is determined to be illegal or unenforceable for any reason, the illegal or unenforceable provision shall be severed and the remainder of this contract shall be given full force and effect.

If I am signing on behalf of a minor, I represent that I am a parent, guardian, legal representative or a person who has legal custody of said minor, and I understand I am RELEASING AND WAIVING both my claims for negligence and the minor’s prospective claims for negligence and breach of warranty.
                </textarea>
            </section>
        </div>
    </div>
</div>