@{
    ViewBag.Title = "Timbersled & Enduro Bike Rentals Rocky Mountains CO | Vail Extreme Rentals";
    ViewBag.MetaDescription = "In the Rocky Mountains for a weekend? Rent a Timbersled or Enduro bike for you & friends, we'll deliver it right to you! Click to view some of our photos.";
    ViewBag.MetaKeywords = "";
    ViewBag.CanonicalURL = "https://www.vailextremerentals.com";
}
<link rel="stylesheet" href="~/css/jquery.fancybox.css">
<link rel="stylesheet" href="~/css/jquery.fancybox-buttons.css">
<link rel="stylesheet" href="~/css/jquery.fancybox-thumbs.css">

<!--[if lt IE 9]><link rel="stylesheet" href="~/css/sky-forms-ie8.css"><![endif]-->
<!-- CSS Page Style -->
<link rel="stylesheet" href="~/css/page_contact.css">
<!-- CSS Customization -->
<link rel="stylesheet" href="~/css/custom.css">
<div class="wrapper">
    <div class="container content">
        <a name="photo" />
        <div class="row margin-bottom-50">

            <div class="row margin-bottom-0">
                <div class="col-md-12 mb-margin-bottom-0">
                    <a name="media"></a>
                    <div class="headline"><h1>Bike Rental Photography</h1></div>
                    <p>Please like us on Facebook and post pictures of your epic day with Vail Extreme Rentals. It's guaranteed to make all your friends jealous.</p><br />
                </div>
            </div>

            <div class="col-md-12 mb-margin-bottom-0">
                <div class="headline"><h2>Photos</h2></div>
            </div>
            <div class="row margin-bottom-30">
                <div class="col-sm-4 sm-margin-bottom-30">
                    <a href="images/img10.png" rel="gallery1" class="fancybox img-hover-v1">
                        <span><img class="img-responsive" src="images/img10.png" alt="Timbersled Bike Rental Rocky Mountains CO" title="Rent a Timbersled in the Rocky Mountains"></span>
                    </a>
                </div>
                <div class="col-sm-4 sm-margin-bottom-30">
                    <a href="images/img11.png" rel="gallery1" class="fancybox img-hover-v1">
                        <span><img class="img-responsive" src="images/img11.png" alt="Snow Bike Rentals in the Rocky Mountains" title="We Deliver Snow Bikes To You in the Rocky Mountains"></span>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="images/img12.png" rel="gallery1" class="fancybox img-hover-v1">
                        <span><img class="img-responsive" src="images/img12.png" alt=""></span>
                    </a>
                </div>
            </div>
            <div class="row margin-bottom-30">
                
                <div class="col-sm-4 sm-margin-bottom-30">
                    <a href="images/img14.png" rel="gallery1" class="fancybox img-hover-v1">
                        <span><img class="img-responsive" src="images/img14.png" alt=""></span>
                    </a>
                </div>
                <div class="col-sm-4 sm-margin-bottom-30">
                    <a href="images/img13.png" rel="gallery1" class="fancybox img-hover-v1">
                        <span><img class="img-responsive" src="images/img13.png" alt=""></span>
                    </a>
                </div>
                <div class="col-sm-4 sm-margin-bottom-30">
                    <a href="images/img16.png" rel="gallery1" class="fancybox img-hover-v1">
                        <span><img class="img-responsive" src="images/img16.png" alt=""></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- End Three Columns -->
        <a name="video" />
        <div class="row margin-bottom-0">
            <div class="col-md-12 mb-margin-bottom-0">
                <div class="headline"><h2>Videos</h2></div>
                <p>We would love to see posts of your videos. Send us a link to vailextremerentals@gmail.com or like us on Facebook.</p><br />
            </div>
            <div class="row  margin-bottom-30">
                <div class="col-sm-4 sm-margin-bottom-30">
                    <a class="fancybox fancybox.iframe" rel="gallery1" href="https://player.vimeo.com/video/99786310?autoplay=1">
                        <span><img class="img-responsive" src="images/img1v.png" alt=""></span>
                    </a>
                </div>
                <div class="col-sm-4 sm-margin-bottom-30">
                    <a class="fancybox fancybox.iframe" rel="gallery1" href="https://player.vimeo.com/video/84645758?autoplay=1">
                        <span><img class="img-responsive" src="images/img2v.png" alt=""></span>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a class="fancybox fancybox.iframe" rel="gallery1" href="https://player.vimeo.com/video/90158276?autoplay=1">
                        <span><img class="img-responsive" src="images/img3v.png" alt=""></span>
                    </a>
                </div>
            </div>
            <div class="row margin-bottom-30">
                <div class="col-sm-4 sm-margin-bottom-30">
                    <a class="fancybox fancybox.iframe" rel="gallery1" href="https://player.vimeo.com/video/115697413?autoplay=1">
                        <span><img class="img-responsive" src="images/img4v.png" alt=""></span>
                    </a>
                </div>
                <div class="col-sm-4 sm-margin-bottom-30">
                    <a class="fancybox fancybox.iframe" rel="gallery1" href="https://player.vimeo.com/video/120855501?autoplay=1">
                        <span><img class="img-responsive" src="images/img5v.png" alt=""></span>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a class="fancybox fancybox.iframe" rel="gallery1" href="https://player.vimeo.com/video/111925160?autoplay=1">
                        <span><img class="img-responsive" src="images/img6v.png" alt=""></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>